.userInfoUrl {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 16px;
}

.homeContent {
  padding-top: 30px;

}

.userName {
  font-size: 24px;
  color: #333;
  margin-bottom: 16px;

}

.numInfoDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .numInfoDivItm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6px;
    border-right: 1px solid #eee;
    margin-top: 4px;
    cursor: pointer;

    span:nth-child(2n-1) {
      font-size: 14px;
      color: #000;
    }

    span:nth-child(2n) {
      margin-top: 4px;
      font-size: 12px;
      color: #999;
    }

  }
}

.userInfoBtn {
  display: flex;
  flex-direction: row;
  align-items: center;

  .btnSend {
    border-radius: 20px;
    cursor: pointer;
  }

  .btnAdd {
    border-radius: 20px;
    cursor: pointer;

  }
}

.projectDiv {
  display: flex;
  flex-direction: column;
  margin: 0 10px;

  span {
    font-size: 14px;
    color: #969696;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .projectItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    img {
      width: 20px;
      height: 20px;
      border: 1px solid #ddd;
      border-radius: 10%;
    }

    p {
      vertical-align: middle;
      top: 1px;
      font-size: 14px;
      color: #333;
      margin-left: 10px;
      margin-bottom: 0 !important;
    }
  }
}

    .corpusDiv{
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eee;
      margin: 0 10px;
      span{
        font-size: 14px;
        color: #969696;
        margin-bottom: 10px;
        padding-top: 10px;
      }
      .corpusItem{
        display: flex;
        flex-direction: row;
        p{
          vertical-align: middle;
          top: 1px;
          font-size: 14px;
          color: #333;
          margin-left: 10px;
        }
      }
    }



