*{
    box-sizing: border-box;
}
.App{
    background-color: red;
    width: 100vw;
    height: 100vh;
}
.center-w-h{
    display: flex;
    justify-content: center;
    align-items: center;
}
